body{
  background: #242424;
}

.to-align-logo{
  display:flex;
  justify-content: flex-end;
}

.hostelbuddy-intro-header-1{
  display:flex;
  justify-content:flex-end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-size: 8rem;
  line-height: 63px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.02em;
  
  color: #FFF;
   
}

.hostelbuddy-intro-header-2{
  display:flex;
  justify-content:flex-end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 8rem;
color: #FFF;
}

.logo{
  display:flex;
  justify-content:flex-end;
  width:25rem;
}

.left-main-box{
  display:flex;
  justify-content:flex-start;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 5.5rem;
  color:#FFF;
  flex-direction:column;
  align-items: flex-start;
  gap:5rem;
  /*margin:2.5rem;
  padding:6rem;*/
}

.right-main-box{
  display:flex;
  justify-content:flex-end;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 0;
  font-size: 4rem;
  color:#FFF;
  flex-direction:column;
  align-items:flex-end;
  /*margin:2.5rem;
  padding:6rem;*/
}

.butts{
  display:flex;
  justify-content: start;
  flex-flow:row;
}

.all-header>a{
  /*display:flex;*/
  justify-content: flex-end;
  justify-content: space-evenly;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  color:#FFF;
  gap:10rem;
}

/*.adding-friends-image{
  display:flex;
  justify-content:center;
  width:25rem;
  margin:10rem;
}

.request-pickup-image{
  display:flex;
  justify-content:center;
  width:25rem;
  margin:10rem;
}

.activity-image{
  display:flex;
  justify-content:center;
  width:25rem;
  margin:10rem;
}

.button-text{
  display:flex;
  justify-content:center;
  font-size:large;
  color:#fff;
}*/

.button-div-addF{
  display:flex;
  justify-content:center;
}

.button-div-requestPickup{
  display:flex;
  justify-content:flex-start;
}

.button-div-checkActivity{
  display:flex;
  justify-content:flex-end;
}

.to-align-two{
  display:flex;
  justify-content: space-between;
}

.login-fields{
  display:flex;
  justify-content:center;
  flex-direction:column;
}

.button-login{
  display:flex;
  justify-content:center;
  width:25rem;
  height:12rem;
  align-items:center;
  justify-content:column;}

.button-signup{
  display:flex;
  justify-content:center;
  width:25rem;
  height:12rem;
  align-items:center;
  justify-content:column;
}

.signup-butt-text{
  display:flex;
  justify-content:center;
  width:25rem;
  height:12rem;
  align-items:center;
}

.login-butt-text{
  display:flex;
  justify-content:center;
  width:25rem;
  height:12rem;
  align-items:center;
}

.butts{
  display:flex;
  justify-content:column;
  align-self:flex-end;
  column-gap:10rem;
  row-gap:10rem;
  row-gap:10rem;
}